.background{ 
    background-image: url(./degradadoH.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.gri{
    display: grid;
    padding: 150px;
    align-content: space-around;
    -ms-grid-column-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: start;
    align-content: center;
   
} 

.btn{
    text-decoration: none;
}
