.bkg{
    background-image: url('https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/go/pokemon-party.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 650px;

}

